@model PacientViewModel

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <h2>Appointments</h2>
    <table class="table table-striped table-borderless table-responsive-sm ">
        <thead>
            <tr class="table-head">
                <th>Date</th>
                <th>Doctor</th>
                <th>Hospital</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Appointments.Count; i++)
            {
            <tr>
                <td class="table-element-custom">@Model.Appointments[i].DateTime</td>
                <td class="table-element-custom">@Model.Appointments[i].Doctor.Email</td>
                <td class="table-element-custom">@Model.Appointments[i].Hospital.Name</td>
                <td class="table-element-custom">@Model.Appointments[i].Description</td>
                <td class="table-element-custom">
                    <a asp-controller="Pacient" asp-action="DeleteAppointment" asp-route-id="@Model.Appointments[i].Id" style="color:black">
                        <i class="fa fa-trash"></i>
                    </a>
                    @if (Model.Appointments[i].Description != null)
                    {
                        <a asp-controller="Pacient" asp-action="DownloadFeedback" asp-route-text="@Model.Appointments[i].Description" asp-route-date="@Model.Appointments[i].DateTime" style="color:black">
                            <i class="fa fa-download"></i>
                        </a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>

    <form asp-controller="Pacient" asp-action="AddAppointment" method="get">
        <button type="submit" class="btn btn-info">Add new appointment</button>
    </form>